@model testMVC.Models.MapModel
@{
    ViewBag.Title = "Home Page";
}

<div id="containerMap">
    <div id="mySidebarSearch" class="sidebar">
        <div class="panel-header">
            <h5>Thông tin tìm kiếm</h5>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        </div>
        <div class="panel-body">
            @Html.Partial("Tab")
            <div class="tabSearch activeTabContent">
                @Html.Partial("SearchForm")
            </div>
            @Html.Partial("Result")
        </div>
    </div>
    <div id="main">
        @Html.Partial("ButtonCPN")
    </div>

</div>
@section scripts{
    <script>

        $(document).ready(function () {
            var templateContent = function (arr, i, flag) {
                let a = ""
                if (flag) {
                    a = "card"
                }
                return `<div class="` + a + `">
                        <p>soThuTuThua:`+ arr[i].soThuTuThua + `</p>
                        <p>soHieuToBanDo:`+ arr[i].soHieuToBanDo + `</p>
                        <p>maXa:`+ arr[i].maXa + `</p>
                        <p>trangThaiDangKy:`+ arr[i].trangThaiDangKy + `</p>
                        <p>maLoaiDat:`+ arr[i].maLoaiDat + `</p>
                        <p>dienTich:`+ arr[i].dienTich + `</p>
                    </div>`
            };

            var mapContainer = document.getElementById("containerMap");
            var mapProp = {
                center: new vbd.LatLng(14.102783, 109.649506),
                zoom: 8,
                minZoom: 2,
                zoomControl: true,
                zoomControlOptions: { position: vbd.ControlPosition.TOP_RIGHT, offset: new vbd.Size(0, 0) },
            };
            var mapGl = new vbd.Map(mapContainer, mapProp);

            $('#btnSearch').on('click', (e) => {
                e.preventDefault();
                var map = new Object()
                map.Province = $('#province').val();
                map.Ward = $('#ward').val();
                map.soThuTuThua = parseInt($('#soThuTuThua').val());
                map.soHieuToBanDo = parseInt($('#soHieuToBanDo').val());

                if (map != null) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/AjaxPostCall",
                        data: JSON.stringify(map),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {
                                const arr = [response, response, response, response, response]

                                for (let i = 0; i < arr.length; i++) {
                                    const newArr = arr[i].geo.slice(response.geo.indexOf("[") + 3, response.geo.length - 4).split("],[").map(ele => {
                                        return [parseFloat(ele.split(",")[0]), parseFloat(ele.split(",")[1])]
                                    })

                                    var polygon = new vbd.Polygon({ paths: [...newArr], strokeOpacity: 0.5, strokeWidth: 2 });
                                    polygon.setMap(mapGl);
                                    var marker = new vbd.Marker({
                                        position: [polygon.getBounds().getCenter().Longitude, polygon.getBounds().getCenter().Latitude]
                                    });

                                    var infowindow = new vbd.InfoWindow({
                                        content: templateContent(arr, i, false)
                                    });
                                    vbd.event.addListener(polygon, 'click', function () {
                                        infowindow.open(mapGl, marker);
                                    });
                                    document.querySelectorAll('.items')[i].innerHTML = templateContent(arr, i, true)
                                    document.querySelectorAll('.items')[i].addEventListener('click', function () {
                                        mapGl.panTo(new vbd.LatLng(polygon.getBounds().getCenter().Latitude, polygon.getBounds().getCenter().Longitude))
                                        mapGl.zoomFit()
                                    });
                                }
                                openResultTab();
                                $(".alertResult").hide()

                            } else {
                                $('.alert').text = "invalid"
                            }
                        },
                        failure: function (response) {
                            console.log(response.statusText)
                        },
                        error: function (response) {
                            console.log(response.statusText)
                        }
                    });
                }
            })
        });

    </script>
}

