@{
    ViewBag.Title = "Result";
}
<div class="tabResult">
    <div class="resultContent">
        <span class="alertResult">invalid</span>
        <ul class="listItems">
            <li class="items">

            </li>
            <li class="items"></li>
            <li class="items"></li>
            <li class="items"></li>
            <li class="items"></li>
            <li class="items"></li>
        </ul>
    </div>
</div>

<script defer></script>