:root {
    --primary-color: rgba( 0, 123, 255,1);
    --white: rgb(255 255 255);
    --dark-green: rgb(59 133 148 / 70%);
}

body {
    padding: 0px !important;
    margin: 0px !important;
    font-family: "Lato", sans-serif;
    box-sizing: border-box !important;
}
/*------------logo-------------*/
.logo-text {
    padding: 5px 10px;
    /*   position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: var(--white);
    width: 100%;*/
}

    .logo-text .logo {
        left: 0px;
        width: 100%;
        display: flex;
        align-items: center;
    }

.logo-img {
    width: 60px;
    height: 47px;
    background-repeat: no-repeat;
    float: left;
    background-image: url("../image/logo_vbdlis_dark.png")
}

.logo-title {
    font-size: 20px;
}
/*-----------------------------map---------------*/
#containerMap {
    height: 93.5vh;
    width: auto;
}

    #containerMap div:last-child {
        /*display: none;*/
    }



.openbtn {
    font-size: 16px;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: var(--dark-green);
    background-color: var(--white);
}

    .openbtn:hover i {
        color: #167495;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
    position: absolute;
    z-index: 200;
    display: flex;
    flex-direction: column;
}

.activeMain {
    animation: toRightMain 0.5s both;
}

@keyframes toRightMain {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 350px;
    }
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

/*--------------sidebar-content------------*/


#searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

    #searchForm .form-group {
        width: 100%;
    }

    #searchForm .form-control {
        height: auto !important;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #ede8e8;
    }

.sidebar .panel-header {
    border-bottom: 1px solid #f5f5f5;
    text-transform: uppercase;
    padding: 0 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.panel-header h5 {
    font-weight: 500;
}

.sidebar div {
    /*display: block !important;*/
}

.sidebar {
    height: 93%;
    width: 0;
    position: fixed;
    overflow: hidden;
    top: 58px;
    left: 0;
    z-index: 201;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}


    .sidebar .closebtn {
        position: absolute;
        top: 20%;
        right: 5%;
    }

.activeSidebar {
    background-color: var(--white);
    animation: toRight .5s both;
}

@keyframes toRight {
    0% {
        width: 100px;
    }

    100% {
        width: 350px;
    }
}


.panel-body {
    display: flex;
    align-items: inherit;
    flex-direction: column;
    height: 100%;
}

    .panel-body .tabSearch.activeTabContent, .panel-body .tabResult.activeTabContent {
        display: block;
    }

    .panel-body .tabResult, .panel-body .tabSearch {
        display: none;
    }

.tab-section {
    display: flex;
}

    .tab-section .tab-title {
        margin-right: 20px;
        cursor: pointer;
    }

        .tab-section .tab-title.activeTabTitle {
            color: var(--dark-green);
            font-weight: 600;
            border-bottom: 1px solid var(--dark-green);
        }

        .tab-section .tab-title.activeTabTitle {
            color: var(--dark-green);
            font-weight: 600;
            border-bottom: 1px solid var(--dark-green);
        }

.resultContent {
    padding: 15px;
}

.items {
    list-style: none;
    cursor: pointer;
}
